hr {
	margin:30px 0;
}

/* Owner
---------------------*/
#owner-stats {
	float:right;
	border-radius:4px;
	padding:4px;
	font-size:18px;
	font-family: "Source Sans Pro";
	font-weight: 200;
	margin:10px 0;
}
#owner-stats li {
	float:left;
	list-style:none;
	padding:0 12px;
}
#owner-stats li span {
	font-weight:400;
	font-size:22px;
}
/* Owner Tabs
---------------------*/
#tabs {
	overflow:auto;
	padding:0;
	margin:0;
	text-align:right;
	position:absolute;
	z-index:999;
	top:13px;
	left:0;
	right:124px;
	
}
#tabs li {
	list-style:none;
	display:inline-block;
}
#tabs li a {
	display:block;
	padding:0 4px;
	font-size:9px;
	color:#888;
	text-shadow:1px 1px 0 rgba(0,0,0,.5);
}
#tabs li a.cur {
	color:#fff;
	background:rgba(0,0,0,.15);
}


/* Content
---------------------*/
#tab-views {
	background:#fff;
	border:1px solid #ddd;
	padding:30px;
	margin:0 0 40px;
	border-radius:8px;
}
#tab-views ul {
	padding:20px 0;	
}
#tab-views li {
	padding:2px 0;
}


/* Owner Table
---------------------*/
table {
	text-align:left;
	width:100%;	
}
table {
	background-color: whiteSmoke;
	border-radius: 6px;
}
table td, table th {
	text-indent:5px;
	white-space:nowrap;
	max-width:200px;
	overflow:hidden;
}
table th {
	text-align: left;
	line-height: 30px;
	font-size: 12px;
	color: #333;
	cursor:pointer;
}
table td {
	border: 1px solid #fff;
	border-width:1px 0;
	line-height: 20px;
	font-size: 10px;
}

/* Datatable styles
---------------------*/
.dataTables_length,
.dataTables_filter {
	float:left;
	padding:0 40px 5px 0;
	height:30px;
}
.dataTables_info {
	margin:16px 0 2px;
}
.dataTables_paginate {
		
}





/* Logos
---------------------*/
.img_canvas {
	height:240px;
	width:240px;
	display:block;
	float:left;
	border:1px solid #ddd;
	margin:5px;
	text-align:center;
}
.img_canvas img {
	max-height:100%;
	max-width:100%;	
}




ul.results {
	background: #eee;
	margin: 20px 0 0;
	color: #888;
	padding: 20px 0;
	line-height: 1.8em;
	font-style: italic;
	font-size: 11px;
}
ul.results li {
	margin:0 40px;
}


ul.editors_pick {
	padding:0;
	margin:0;	
}
ul.editors_pick li {
	list-style:none;	
	line-height:1.2em;
	float:left;
	width:280px;
}
ul.editors_pick a {
	display:inline-block;
	padding-right:10px;	
	font-size:11px;
}







