/* ==========================================================================
 Layout 
  ========================================================================== */

#page-portfolio {
 margin: 0;
 padding: 60px 0 35px;
 background: #fff;
 display: block;
 font-size: 14px;
 overflow:auto;
}
#page-portfolio .col-xs-4, #page-portfolio .col-md-4, #page-portfolio .col-xs-8, #page-portfolio .col-md-8{
 position: relative;
 min-height: 1px;
 padding-left: 15px;
 padding-right: 15px;
 float: left;
}
#page-portfolio div, #page-portfolio a, #page-portfolio img, #page-portfolio span, #page-portfolio li, #page-portfolio ul, #page-portfolio, #page-portfolio *{
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
#page-portfolio .row{
 margin-left: -15px;
 margin-right: -15px;
}
#page-portfolio .carousel{
 position: relative;
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img
{
 display:block;
 max-width:100%;
 height:auto
}


.carousel
{
 position:relative
}

.carousel-inner
{
 position:relative;
 overflow:hidden;
 width:100%
}

.carousel-inner>.item
{
 display:none;
 position:relative;
 -webkit-transition:.6s ease-in-out left;
 transition:.6s ease-in-out left
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img
{
 line-height:1
}

.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev
{
 display:block
}

.carousel-inner>.active
{
 left:0
}

.carousel-inner>.next,.carousel-inner>.prev
{
 position:absolute;
 top:0;
 width:100%
}

.carousel-inner>.next
{
 left:100%
}

.carousel-inner>.prev
{
 left:-100%
}

.carousel-inner>.next.left,.carousel-inner>.prev.right
{
 left:0
}

.carousel-inner>.active.left
{
 left:-100%
}

.carousel-inner>.active.right
{
 left:100%
}

.carousel-control
{
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 width:15%;
 font-size:20px;
 color:#fff;
 text-align:center;
 text-shadow:0 1px 2px rgba(0,0,0,0.6)
}

.carousel-control.left
{
 background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.5) 0),color-stop(rgba(0,0,0,0.0001) 100%));
 background-image:linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);
 background-repeat:repeat-x;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=1)
}

.carousel-control.right
{
 left:auto;
 right:0;
 background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,0.0001) 0),color-stop(rgba(0,0,0,0.5) 100%));
 background-image:linear-gradient(to right,rgba(0,0,0,0.0001) 0,rgba(0,0,0,0.5) 100%);
 background-repeat:repeat-x;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#80000000',GradientType=1)
}

.carousel-control:hover,.carousel-control:focus
{
 outline:none;
 color:#fff;
 text-decoration:none
}

.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right
{
 position:absolute;
 top:50%;
 z-index:5;
 display:inline-block
}

.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left
{
 left:50%
}

.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right
{
 right:50%
}

.carousel-control .icon-prev,.carousel-control .icon-next
{
 width:20px;
 height:20px;
 margin-top:-10px;
 margin-left:-10px;
 font-family:serif
}

.carousel-control .icon-prev:before
{
 content:'\2039'
}

.carousel-control .icon-next:before
{
 content:'\203a'
}

.carousel-indicators
{
 position:absolute;
 bottom:10px;
 left:50%;
 z-index:15;
 width:60%;
 margin-left:-30%;
 padding-left:0;
 list-style:none;
 text-align:center
}

.carousel-indicators li
{
 display:inline-block;
 width:10px;
 height:10px;
 margin:1px;
 text-indent:-999px;
 border:1px solid #fff;
 border-radius:10px;
 cursor:pointer;
 background-color:#000 \9;
 background-color:rgba(0,0,0,0)
}

.carousel-indicators .active
{
 margin:0;
 width:12px;
 height:12px;
 background-color:#fff
}

.carousel-caption
{
 position:absolute;
 left:15%;
 right:15%;
 bottom:20px;
 z-index:10;
 padding-top:20px;
 padding-bottom:20px;
 color:#fff;
 text-align:center;
 text-shadow:0 1px 2px rgba(0,0,0,0.6)
}

.carousel-caption .btn
{
 text-shadow:none
}

@media screen and (min-width:768px) {
 .carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next
 {
   width:30px;
   height:30px;
   margin-top:-15px;
   margin-left:-15px;
   font-size:30px
 }
 
 .carousel-caption
 {
   left:20%;
   right:20%;
   padding-bottom:30px
 }
 
 .carousel-indicators
 {
   bottom:20px
 }
}


#page-portfolio .carousel-inner>.active, #page-portfolio .carousel-inner>.next, #page-portfolio .carousel-inner>.prev {
display: block;
}
.highlight {
 padding: 45px 0 55px 0;
}

/* ==========================================================================
  Portfolio
  ========================================================================== */
#page-portfolio h3{
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 font-size: 3.5em;
 font-weight: normal;
 text-align: center;
 margin-top: 80px;
 line-height: 1.2em;
}
#page-portfolio #iphone{
 position: absolute;
 z-index: 10;
 top: 0;
 left: 0;
 margin-left: 15px;
}
#page-portfolio #iphone-row{
 height:655px;
 width: 315px;
}
#page-portfolio #iphone-container{
}

.carouselb-inner .active.left { left: -33%; }
.carouselb-inner .next        { left:  33%; }
.carouselb-inner .prev        { left: -33%; }

#carousel-a{
 width: 184px;
 height: 451px;
 margin-left: 62px;
 padding-top: 85px;
}
#carousel-b{
 margin: 44px 35px 0 ;
 z-index: 11;
}
#carousel-c{
 display: none;
}
#carousel-b img{
 width:100%;
}
#carousel-a .carousel-control.left, #carousel-a .carousel-control.right {
 display: none;
}
.carousel-inner>.item {
 -webkit-transition: .4s  ease left ;
 transition: .5s ease left ;
}

#portfolio-get-started{
 text-align: center;
}
#portfolio-get-started .promobtn{
 margin: 60px 0 0 0;
}


/* ==========================================================================
  Helper classes
========================================================================== */

.left {
 float: left;
}

.carousel .left{
 float:none;
}
.right {
 float: right;
}

.text-center {
 text-align: center;
}

.centered {
 margin-left: auto;
 margin-right: auto;
 float: none;
}

/* ==========================================================================
Carousel CSS File
========================================================================== */

/* Tiny Carousel */
#slider1 { height: 1%; padding: 0 0 10px; margin:50px 0 0;  }
#slider1 .viewport { float: left; width: 600px; height: 203px; overflow: hidden; position: relative;}
#slider1 .disable { visibility: hidden; }
#slider1 .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0 top: 0; }
#slider1 .overview li{ float: left; margin: 0 1px;  width: 198pxpx;}
#slider1 li{
 filter: alpha(opacity=40);
 opacity: 0.4;
 cursor: pointer;
 height: 203px;
}
#slider1 li img{
 width: 198px;height: 198px;
}
#slider1 li.active{
 border-bottom: 5px solid #aaa;
 filter: alpha(opacity=100);
 opacity: 1;
 -webkit-transition: all 0.2s linear;
 -moz-transition: all 0.2s linear;
 -ms-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 transition: all 0.2s linear;
 cursor: default;
}

#chevron-left, #chevron-right{
 background-image:none ;
 opacity: 1;
 color:#000;
 width: 1em;
 position: relative;
 z-index: 100;
 top: 88px;
 margin: 0 -30px;
 cursor: pointer;
 
}