.clr {clear:both} a img {border:none} hr {border:none;height:1px;border-top:1px solid #ddd;margin:50px 0;}.right{float:right}.left{float:left}.hide{display:none}
a, a:active, a:visited {color:#007FC5;text-decoration:none;cursor:pointer;}
a:hover {color:#007FC5;}
.capitalized {text-transform:capitalize;}


/* Global
------------------------------*/
h1,h2,h3,.font {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	line-height:1em; 
	margin:.3em 0;
}
h1 {
	font-size:3em;	
}
h2 {
	font-size:2.2em;	
}
h3 {
	font-size:1.5em;
}

.check {
	background:url(../images/icon-checkmark.png) 0 0;
	float:left;
	height:24px;
	width:30px;
}
.checking {
	background-position:0 -24px;	
}
.checked {
	background-position:0 -48px;	
}


/* Body
------------------------------*/ 
body {
	background:url(../images/bg.jpg) fixed;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
}
.container {
	width:920px;
	margin:0 auto;
	padding:0 5%;
}
.container.large {
	width:auto;
}
@media (min-width: 1400px) {
	.container.responsive {
		width:1354px;
	}
}

/* BG
------------------------------*/
.full-bg.ally {
	background:url(../images/photos/bike-in-ally.jpg);
}

/* Header
------------------------------*/
#site-title,
#site-description,
.strategic {
	position:absolute !important;
	clip:rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip:rect(1px, 1px, 1px, 1px);
	overflow:hidden;
	height:0;
}

/* Header
------------------------------*/
header {
	background:#222 url(../images/bg-dark.jpg);
	height:74px;
	overflow:hidden;
	z-index:1;
}
#logo {	
	float:left;
    padding:20px 31px;
}
#member-thumb {
	background-color:#111;
	background-position:center;
	background-repeat:no-repeat;
	margin:11px 30px 0 20px;
	border-radius:2px;
	overflow:hidden;
	display:block;
	height:50px;
	width:50px;
	float:right;
	border:1px solid #333;
}


/* Nav
------------------------------*/
header nav {
	margin:0 auto;
}
.nav.left {
	position:absolute;
	margin-left:244px;
}
.nav.right {
	float:right;
	padding:0;	
	margin:0 16px 0 0;
}

.nav li {	
	padding:0;
	float:left;
	list-style:none;
	margin:0 0 0 10px;
}
.nav li a {
	display:block;
	color:#aaa;	
	font-size:14px;
	text-decoration:none;
	padding:4px 0 4px;
	font-family:'Open Sans', sans-serif;
	margin:25px 8px;
}
.nav li a:hover,
.nav li a.cur {
	color:#fff;
	border-bottom:1px solid #444;
}

.nav li a.signuplink  {
	color:#f8f8f8;
	font-weight:600;
}

/* Masthead
------------------------------*/
#masthead {
	height:900px;
	background:#fff;
	width:100%;
	overflow:hidden;
	margin:0;
}
#masthead #banner {
	width:1280px;
	height:850px;
	position:relative;
	margin-left:-640px;
	overflow:hidden;
	left:50%;
	display:block;
	border-radius:4px;
}
#masthead #banner-titles {
	font-size:18px;
	position:absolute;
	z-index:99;	
	text-align:center;
	width:800px;
	left:50%;
	margin:60px 0 0 -400px;
}
#masthead #banner-titles h1 {
	line-height:1em;	

}
#masthead #banner-titles h1 strong {
	color:#aaa;
	font-size:.60em;
	font-weight:300;
}
#masthead #screenshots {
	background:url(../img/banner/macbook-iphone-pair.jpg) no-repeat center;
	position:absolute;
	width:920px;
	left:50%;
	height:550px;
	margin:190px 0 0 -460px;
}
#masthead #screenshots a {
	position:absolute;
	margin:0px 0 0 0px;	
}
#masthead .cta {
	position:absolute;
	margin:750px 0 0 -200px;
	width:400px;
	left:50%;
	text-align:center;
}

/* Homepage Testimonials
------------------------------*/
#testimonials {
	padding:120px 0 120px;
	width:100%;
	background:#222 url(../images/bg-dark.jpg) fixed;
	color:#fff;
	text-align:center;
}
#testimonials h2 {
	font-size:30px;
	margin:30px 0;
	font-weight:200;
	margin-left:-20px;
}
#testimonials h2 img {
	position:absolute;
	margin:-20px 0 0 -110px;	
}
#testimonials h2 img.last {
	position:absolute;
	margin-left:40px;
}
#testimonials ul {
	padding:0;
	margin:0;
	width:600px;
	margin:0 auto;
	border-top:1px solid #333;
}
#testimonials li {
	width:100%;
	text-align:center;
	list-style:none;
	line-height:1.7em;
	font-size:16px;
	padding:20px 0;
	font-family:"Open Sans";
	font-weight:300;
	color:#aaa;
}
.testimonial-list	{
	height:100px;	
	overflow:hidden;
}
	

/* Homepage Story 
------------------------------*/
#home {
	line-height:1.5em;
	margin:50px auto;
}
#home h1, #home h2 {
	font-size:20px;
	font-weight:300;
	margin:0 0 10px 0;
	line-height:1.4em;
}
#home h3 {
	margin:1em 0;
}
#home p {
	margin-bottom:20px;
}

#stories {
	text-align:center;
}
#stories article {
	float:left;
	width:306px;
	text-align:center;
	padding:10px 0;
	height:250px;
}
#stories article p {
	padding:0 20px;
	font-size:11px;
	color:#888;
}
#stories article a {
}
#stories article a:hover {
	color:#09F;
	text-decoration:underline;
}

#skinny {
	clear:both;
	line-height:1.5em;
	margin-top:110px;
}
#skinny article {
	clear:both;
	height:270px;
}
#skinny article h2 {
	font-size:26px;
	width:440px;
	float:left;
	line-height:1.4em;
	margin:0 0 20px;

}
#skinny article img {
	border-radius:20px;
	float:right;
}
#skinny article p {
	color:#555;
	float:left;
	width:440px;
}
#skinny article h2.left,
#skinny article p.left {
	float:right;	
}
#skinny article img.left {
	float:left;	
}

/* Footer  (ride bottom)
------------------------------*/
html, body {height:100%;}
#wrapper {height:auto;min-height:100%;}
#inner-wrapper {padding:0 0 80px;}
footer {
	position:relative;
	margin-top:-80px;
	height:80px;
	line-height:1.5em;
	font-size:11px;
	color:#888;
}
footer .inner {
	padding:22px 20px 0;
	border-top:1px solid #ddd;	
}
footer .right {
	padding-top:5px;	
}
footer p {
	padding:0;	
}
footer a {
	color:#4B9BE8;
	text-decoration:none;
}
#footer-logo {
	float:right;
}
#footer-fb-like {
	float:left;
	width:99px;
	padding:3px;
	overflow:hidden;
}


/* SITEWIDE Frame and Canvas
------------------------------*/
.frame {
	overflow:hidden;
	background:url(../images/load-dots-dark.gif) no-repeat center;
	position:relative;
	display:block;
	background:#eee;
	width:25%;
	height:200px;
	float:left;
	-webkit-transition: opacity 170ms;
	-moz-transition: opacity 170ms;
	-o-transition: opacity 170ms;
	transition: opacity 170ms;

}
.frame:hover {
	opacity:.9;
}
.frame.home-bg:hover {
	opacity:1;
}
.canvas {
	display:none;
	overflow:hidden;
}
.canvas.lb {
	cursor:pointer;	
}
.canvas .info {
	position:absolute;
	z-index:99999;
	color:#fff;
	background:rgba(0,0,0,.66);
	padding:.3em 1em;
	opacity:0;
	font-size:8px;
	padding:10px;
}

img.frame {
	height:auto!important;
	width:100%!important;
}



/* Top Login Form
------------------------------*/
#login-area {
	height:90px;
	padding:20px 0 0;
	float:right;
	background:url(../images/black-shine.jpg) -12px 0 no-repeat;
	width:430px;
}
#login {
	float:right;
	text-align:right;
	margin:26px 0 0 0;
}
#login input {
	padding:5px 4px;
	margin:0 3px 0 0;
	border-radius:4px;
	border:none;
	font-size:10px;
	color:#222;
	width:80px;
}
#login .send {
	padding:5px 0px;
	background:none;
	border:none;
	cursor:pointer;
	color:#ddd;
	width:40px;
	margin:0;
}
#login .send:hover {
	color:#fff;	
}


/* Buttons
------------------------------*/
.inputs label {
	display:block;
	color:#555;
	font-size:12px;
}
.inputs input,
input.inputs,
.inputs textarea {
	padding:0 14px;
	font-size:18px;
	line-height:50px;
	height:50px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #dfdfdf;
	border-radius:4px;
	margin:5px 0;
	width:388px;
}

.inputs textarea {
	height:200px;
	line-height:1.4em;
	padding-top:.6em;
	font-size:14px;
}

/* Global Btns
------------------------------*/
a.btn, input.btn {
	    font-family: 'Open Sans', sans-serif;
    /* background: url(../images/promobtn.png) 0 -16px; */
    border: none;
    /* height: 30px; */
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    display: inline-block;
    background-image: linear-gradient( to bottom, #3f8bd9, #257dd4 50%, #1b77d2 50%, #176fc6 100% );
    /* -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275); */
    
	box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.15);
	/*-webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);*/
}
a.btn.green, input.btn.green {
    background-image: linear-gradient( to bottom, #3f8bd9, #257dd4 50%, #1b77d2 50%, #176fc6 100% );
	background-image: linear-gradient( to bottom, #48d93f, #86e82c 50%, #70e234 50%, #5add45 100% );
    border-color: #5ddd3c;
}
a.btn.red, input.btn.red {
	background-image: linear-gradient( to bottom, #d93f3f, #d42525 50%, #d21b1b 50%, #c61717 100% );
    border-color: #a43030;
}
a.btn.gray, input.btn.gray {
	background-image: linear-gradient( to bottom, #858585, #7d7d7d 50%, #757575 50%, #636363 100% );
    border-color: #777;
}

a.btn:hover, input.btn:hover {
	opacity:.9;
}
/*
a.btn.animate {
	animation: mymove 2s infinite;
}
*/

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {opacity: 0.6;top:0px;}
    to {opacity: 1}
}
@keyframes mymove {
    from {opacity: 0.6;top:8px;}
    to {opacity: 1}
}

/* Button with image */
a.btn.img {
	padding-left:30px;
}
a.btn.img img {
	position:absolute;
	margin:10px 0 0 -18px;	
}

/* Image Only */
a.btn.img_only {
	padding:0 8px;
}
a.btn.img_only img {
	position:relative;
	margin:6px 0 0;
}
/*
a.btn.green, input.btn.green {background-position:0px -78px;}
a.btn.red, input.btn.red {background-position:0px -140px;}
a.btn.gray, input.btn.gray {background-position:0px -202px;}
*/

a.promobtn, input.promobtn {
	font-family:'Open Sans', sans-serif;
	background:#006fdf url(../images/promobtn.png) 0 0;
	border:none;
	height:62px;
	line-height:62px;
	padding:0 30px;
	border-radius:4px;
	font-size:18px;
	color:#fff;
}
a.promobtn {
	display:inline-block;	
}
a.promobtn:hover, input.promobtn:hover {
	opacity:.8;
}


/* Global Title
------------------------------*/
.center-title-block {
	text-align:center;
	margin:100px 0 80px;
}
.center-title-block h2 {
	font-size:70px;
	font-weight:400;
	margin:.2em 0;
}
.center-title-block h3 {
	font-size:30px;
	color:#666;
	margin:.2em 0;
}
.center-title-block h4 {
	font-size:18px;
	color:#666;
	margin:.2em 0;
}
.center-title-block a {	
	margin:30px 0 0;
}
.center-block {
	text-align:center;
}
/* New Title
------------------------------*/
.newTitle {
	background:#fff;
	padding:40px;
	margin:60px 0 0;
}
.newTitle h2 {
		
}


/* Image Grid (change cover)
------------------------------*/
.grid {
	margin:20px 0;
	padding:0;
}
.grid li {
	background:rgba(0,0,0,0.1);
	height:124px;
	width:229px;
	float:left;
	margin:0 1px 1px 0;
	list-style:none;
	padding:0;
}


/* Admin Header
------------------------------*/
#admin-header {
	border-bottom:1px solid #ddd;
	position:absolute;
	width:100%;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08) ;
	height:60px;
}
#admin-header .inner {
	margin:0 auto;
}

/* Admin Nav
------------------------------*/
.admin-subnav {
	position: absolute;
	margin: 0;
	padding:0;
	right:30px;
	top: 60px;
	font-size: 14px;
	display: flex;
	text-align:center;
}
.admin-subnav li {
	display:block;
	
}
.admin-subnav li a {
	  display: inline-block;
    background: rgba(0,0,0,.5);
    /* min-width: 60px; */
    font-size: 12px;
    color: #fff;
    text-align: left;
    padding: 10px 28px;
}
.admin-subnav li a.last {
	border-radius:0 0 3px 0;
}
.admin-subnav li a.first {
	border-radius:0 0 0 3px;
}
.admin-subnav li a:hover {
   background: rgba(0,0,0, 0.60);
}
.admin-subnav li a.cur {
    background: rgba(22, 142, 228, 1);
   background: rgba(0,0,0, 0.80);
}
/* Admin Nav
------------------------------*/
.admin-nav {
	width:100%;
}
.admin-nav ul {
	margin:0;	
	padding:0;	
}
.admin-nav li {
	list-style:none;
	float:right;
}
.admin-nav ul a {
	font-family:'Open Sans';
	padding:0 22px 0 56px;
	display:block;
	font-size:13px;
	color:#888;
	height:60px;
	line-height:60px;
}
.admin-nav a:hover {
	color:#000;
	background:rgba(0,0,0,.02);
}
.admin-nav a.cur {
	color:#000;
	background:#ddd;	
	background:rgba(0,0,0,.03);	
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f6f6f6), to(#e7e7e7));
	background-image:-webkit-linear-gradient(top, #f6f6f6, #e7e7e7); 
	background-image:-moz-linear-gradient(top, #f6f6f6, #e7e7e7);
	background-image:-ms-linear-gradient(top, #f6f6f6, #e7e7e7);
	background-image:-o-linear-gradient(top, #f6f6f6, #e7e7e7);	
	-moz-box-shadow:inset 0 0 14px rgba(0,0,0,.05);
	-webkit-box-shadow:inset 0 0 14px rgba(0,0,0,.05);
	box-shadow:inner 0 0 14px rgba(0,0,0,.05);
}
.admin-nav ul a img {
	position:absolute;
	margin:18px 0 0 -36px;
}

.admin-nav a.promo {
	color:#999;
	background:#d7d7d7;
	padding:3px 6px 2px;
	margin-left:20px;
	font-size:11px;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	border-radius:0 0 2px 2px;
}
.admin-nav li span {
	position:absolute;
	color:#888;
	font-size:10px;
	margin:50px 0 0 -28px;
	background:#fff;
	background:rgba(255,255,255,.6);
	border-radius:3px 3px 0 0;
	line-height:1.2em;
	bottom:0;
	padding:2px 14px;
	letter-spacing:2px;
	text-transform:uppercase;
	font-size:8px;
	margin-left:-20px!important;
}


/* Live Switch 
------------------------------
.switch-wrapper {
	float:right;
	margin:17px 20px 0 10px;
	line-height:16px;
}
.switch-wrapper small {
	font-size:10px;
	color:#888;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
*/

/* Announcement 
------------------------------*/
#announcements {
	height:60px;
	overflow:hidden;
}
#announcements .yoyo {
	display:block;
	float:left;
	clear:left;
	height:60px;
	min-width:180px;
}
a.fbBtn {
	display:block;
	width:180px;
	height:36px;
	background:url(../img/announcements.jpg);
	text-align:center;
	margin:13px 0 0 34px;
	border-radius:3px;
	color:#fff;
	font-size:10px;
}
#announcements a:hover {
	opacity:.8;	
}
#announcements h3 {
	font-size:13px;	
	color:#fff;
	margin:4px 0 0px;
	
}
#announcements p {
	font-size:10px;	
	color:#C8E0FF;	
}

/* Earn +15 items
------------------------------*/
.fb-success {
	display:none;
}
.fb-loading {
	display:none;
	margin:2px 0 0;
}

.inactive a {display:none;}
.inactive .fb-loading {display:none;}
.inactive .fb-success {display:block;}

/* Like Button
------------------------------*/
#fb-like {
	padding:20px 34px;	
}
#fb-like #iframe-wrap {
	float:left;
	width:90px;
	overflow:hidden;	
}
#fb-like h3 {
	float:left;
	color:#888;
}


/* Fuel Bars 
------------------------------*/
#status-bars {
	float:left;
	width:200px;
	padding:14px 0 0 30px;
	cursor:pointer;
	position:relative;
}
#status-bars:hover {
	opacity:.8;	
}
#status-bars h4 {
	font-family:'Open Sans', sans-serif;
	margin:0 6px 4px;
	font-size: 9px;
	color: #555;
	text-transform:uppercase;
	letter-spacing:1px;
	display:inline-block;
	width:50px;
	text-align:right;
}
#status-bars span {
	display:inline-block;
	font-size:9px;	
	margin:0 0 0 6px;
}
.status-bar {
	height: 3px;
	margin: 0 0 2px;
	position: relative;
	overflow: hidden;
	width:80px;
	display: inline-block;
	background:#e8e8e8;
}
.status-fill {
	float:left;	
	background:#519DFF;
	height:30px;
}
.status-fill.warning {
	background:#F66;
}

a.upgrade-coin {
	position:absolute;
	top:20px;
	right:-64px;
	font-size:10px;	
	background:#444;
	background:rgba(0,0,0,.01);
	font-family:'Open Sans', sans-serif;
	color:#888;
	padding:4px 10px 5px;
	border-radius:0 0 4px 4px;
	letter-spacing:1px;
	border-radius:20px;
	
	
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset, 0 1px 0 #FFF; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset, 0 1px 0 #FFF; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .1) inset, 0 1px 0 #FFF;
	/*
	background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
	background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
	background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
	background-image:-o-linear-gradient(top, #F66C7B, #D25068);
	background-image:linear-gradient(to bottom, #F66C7B, #D25068);
	*/
}


/* Global Decor
------------------------------*/
img.circle {
	border-radius:4px;	 
	padding:0px;
	border:1px solid #ddd;
	background:rgba(0,0,0,.05);
	margin:0 auto 40px;
	float:none;
	display:block;
}

.cool-circle {
	display: block;
	line-height: 120px;
	width: 120px;
	border: 13px solid rgba(255,255,255,.2);
	background: rgba(255,255,255,.1);
	border-radius: 100px;
	color: #fff;
	font-size: 20px;
	margin:27px auto;
}
.cool-circle:hover {
	color:#fff;
}

/* Global Containers
------------------------------*/
.content {
	border-radius:4px;
	border:1px solid #DDD;
	border-radius:4px;
	background:#f4f4f4;
	margin:30px 0;
}
.content > .inner {
	padding:25px;
	clear:both;	
}


.full_content {
	width:50%;
	float:right;
	overflow:auto;
}
.full_content.small {
	width:42%;
	float:left;
	
}
.full_content h2 {
	margin:0 0 .6em;	
	line-height:1.4em;
	font-size:16px;
	font-weight:600;
	border-bottom:1px solid #ccc;
	padding:0 0 4px;
}
.full_content p {
	margin:0 0 3.4em;	
}
.full_content p strong {
	display:block;
	font-size:11px;
	color:#333;
	text-transform:uppercase;
	letter-spacing:1px;
	padding-top:10px;
}




/* Left Nav
------------------------------*/
.left-nav {
	float:left;
	width:230px;
	padding:100px 0;
	font-family:'Open Sans', sans-serif;
}
.left-nav ul {
	padding:0;
	margin:0;
}
.left-nav li {
	list-style:none;
	margin:0 0 8px;	
}
.left-nav li a {
	font-size:14px;	
	display:block;
	padding:16px;
	border-radius:4px;
	border:1px solid rgba(0,0,0,0);
	color:#444;
}
.left-nav a:hover {
	
}
.left-nav a.cur {
	background:#f4f4f4;
	border:1px solid #ddd;
}
.left-nav a img {
	float:left;
	margin:0 11px 0 0;
}
.left-nav p {
	font-size:11px;
	color:#888;
	margin:1px 0 0;
	line-height:1.4em;
	font-weight:300;
}


/* Settings Forms
------------------------------*/
.settings-wrapper {
	padding:50px 0;
	float:right;	
}
.settings-wrapper .content {
	margin:0 0 50px;
	width:600px;
}
.settings-wrapper .content > .inner {
	padding:30px 50px 60px;
	clear:both;	
}

.settings-wrapper h2 {
	font-size:16px;
	color:#333;	
	margin:0 0 40px;
	text-transform:uppercase;
	letter-spacing:2px;
	border-bottom:1px solid #e5e5e5;
	padding:20px 0;
	font-weight:600;
}
.settings-wrapper p.caption {
	padding:0 3px 10px;
	line-height:1.5em;
	color:#777;	
	font-size:11px;	
}
.smart_form {
	margin:20px 0 10px;
	position:relative;
}
.smart_form label {
	display:block;
	padding:0 6px 1px 2px;
	font-size:12px;
	color:#555;
	border-radius:4px;
	font-family:'Open Sans', sans-serif;
}
.smart_form label span {
	float:right;
	color:#777;
}
.smart_form input.input, .smart_form textarea.input {
	padding:0 8px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #eee;
	border-radius:4px;
	margin:2px 0;
	width:480px;
}
.smart_form select.input {
	padding:0 8px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #eee;
	border-radius:4px;
	margin:2px 0;
	width:498px;
}
.smart_form textarea.input {
	line-height:2em;	
	height:55px;
	font-size:13px;
	padding:20px;
	width:456px;
}
.smart_form input.smart_btn {
	display:none;
	position:absolute;
	right:4px;
	bottom:5px;
	border-radius:2px;
}
#link_title_input {
	display:none;
}

/* Settings - Special Textboxes */
.smart_form textarea.input.tall {
	height:200px;
}
.smart_form input.short {
	width:230px;
}

/* Settings - Skills */
.smart_form .checkbox-wrapper {
	overflow:auto;
	margin:0;
	padding:0 0 20px;	
}
.smart_form .checkbox-wrapper li {
	width:166px;
	list-style:none;
	float:left;	
	font-size:11px;
	line-height:26px;
}
.smart_form .checkbox-wrapper li input {
	display:inline-block;
	padding:2px;
	height:20px;
	width:20px;
}
.smart_form .uncheck-wrapper {
	height:30px;
}
.smart_form .uncheck {
	font-size:11px;
	display:none;
}



/* Settings - Upload Areas
----------------------------------*/
.upload-area {
	margin:0 auto;
}
.upload-area .frame {
	background:#eee;
	margin:0 auto 10px;
	border:1px dashed #eee;
	width:100%;
	height:auto;
	text-align:center;
	padding:20px 0;
	border-radius:4px;
}
.upload-area .frame img {
	max-width:460px;
}
.upload-area .frame.empty {
	background:#eee url(../images/icon-camera.png) no-repeat center;
	height:300px;
	border:1px dashed #ddd;
}
/* logo */
.upload-area .frame .logo-container {
	height:400px;
	width:500px;
	background-repeat:no-repeat;
	background-position:center;
}


.fileupload {
	position:absolute;
	height:32px;
	opacity:0;
	cursor:pointer;
	margin-left:-16px;
}
#upload-logo .fileupload {
	width:170px;	
}
#upload-profile .fileupload {
	width:138px;	
}

/* Account Page
------------------------------*/
#account {	
	line-height:1.5em;
	padding:0;
	width:360px;
	margin:80px auto;
	text-align:center;
}
#account h1 {
	font-size:50px;
	margin:0 0 30px;
	line-height:.9em;
}
#account h1 strong {
	font-size:30px;	
}
#account h2 {
	font-size:24px;
	margin:0 0 10px;	
}
#account hr {
	margin:30px 0;	
}



.account-info {
	font-size:11px;	
}
a.downgrade {
	color:#C36;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:11px;
}


.member-links {
	padding:0 0 20px;
	margin:0;	
}
.member-links li {
	list-style:none;
	padding:14px 0;
	border-bottom:1px solid #e8e8e8;
}
.member-links li a {
	font-size:15px;
	line-height:1.2em;
}
.member-links li a.right {
	color:#fff;
	font-size:14px;
	padding:0 0 2px;
	width:16px;
	line-height:14px;
	border-radius:30px;
	background:#888;
	text-align:center;
	margin:0 10px 0 0;
}

/* Reward Page
------------------------------*/
.reward {
	background:#eee;
	margin:60px 0;
	border-radius:3px;
	text-align:center;
	padding:8% 5%;	
	border:1px dotted #ddd;
}
.reward h1 {
	font-weight:700;
}
.reward h3 {
	margin-bottom:30px;
}


/* Packaging 
------------------------------*/
.packaging {
	border-radius:8px;
	background:#eee;
	border:5px solid #f7f7f7;
	padding:10px;
	overflow:auto;
	margin:0 0 40px 40px;
	width:40%;
	float:right;
}
.packaging img {
	float:left;	
	margin-right:10px;
}
.packaging ul {
	font-family:'Open Sans', sans-serif;
	padding:0;
	margin:20px 0;
	float:left;
}
.packaging li {
	font-size:14px;	
	list-style:none;
}
.packaging li strong {
	font-size:38px;	
}
.packaging .promobtn {
	float:right;	
	margin:20px;
}

.packaging .limits {
	padding:20px 0;	
	float:left;
}
#account_page .packaging .limits  h3{
	font-size:30px;
	font-weight:bold;
}


/* Settings - Advanced
------------------------------*/
ul.steps {
	font-size:12px;
	line-height:1.8em;
	list-style:decimal;
	margin:0 0 40px 30px;
}



/* Project page
---------------------------------------*/
.portfolio_header {
	padding:0;
	text-align:center;
	position:relative;
	margin:80px 0 50px;
}
.portfolio_header h3 {
	margin:14px 0;
}

.project_thumb {
	position:relative;
	margin:20px;
	float:left;
}
.project_thumb .cover {
	width:394px;
	height:240px;
	overflow:hidden;
	border-radius:8px;
	background:#ddd url(../portfolio/images/load-dots-dark.gif) no-repeat center;
}
.project_thumb .cover img {
	display:none;
}



/* Project Header
-------------------------------------------------------------------------------------------*/
#project_info {
	position:relative;
	margin:50px 0;
	min-height:360px;
	border-radius:4px;
	overflow:hidden;
}

#project_top {
	margin:60px 0 40px;
	text-align:center;	
}
#project_top h1 {
	margin:.3em;
	font-size:80px;	
}

/* Project Cover
---------------------------------------*/
#project_cover .thumb {
	display:block;
	background:#555 url(../portfolio/images/load-dots-dark.gif) no-repeat center;
	overflow:hidden;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:-1;
}
#project_cover.blank .thumb {
	display:none;
}
#project_cover .thumb img {
	display:none;
}
#project_cover a.btn {
	font-size:11px;
	line-height:20px;
	position:absolute;
	height:20px;
	padding:0 6px;
	margin:4px 0;
}

/* Button Bar
---------------------------------------*/
.button_bar {
	position:absolute;
	bottom:0px;
	left:0;
    padding: 8px;
    z-index: 2;
}
.button_bar a.btn {
	display:inline-block;
}

input#fileupload {
	position: absolute;
	height: 40px;
	opacity: 0;
	cursor: pointer;
	margin-left: -30px;
	width: 126px;
}

.cameraBtn {
	position:absolute;
	top:0; 
	right:0;
	display:block;
	padding:10px;
	opacity:.8;
	z-index:999;
}
.cameraBtn:hover {
	opacity:1;
}

/* Small Buttons
---------------------------------------*/
.sm_button_bar {
	position:absolute;
	right:0;
	font-size:11px;
}
.sm_button_bar a {
	color:#fff;
	font-size:11px;
}


.cameraBtn {
	position:absolute;
	top:0;
	bottom:0;
	padding:10px;
	z-index:9999;
}	
.editBtn {
	background: rgba(255,255,255,.1);
    border-radius: 999px;
    display: inline-block;
    width: 45px;
    height: 26px;
    /* line-height: 60px; */
    padding: 9px 0 8px;
	text-align:center;
	position:absolute;
	top:10px;
	right:10px;
	
	
}
/* Project Info
---------------------------------------*/
#project_text {
    color: #fff;
	background:rgba(0,0,0,.24);
	padding:2% 4% 2% 2%;
	background:rgba(40,40,40,.8);
	position:absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    padding-bottom: 56px;
    padding-right: 60px;
	box-shadow:0 4px 10px rgba(0,0,0,.15);
}
#project_text h1 {
	font-size:30px;	
	line-height:1.3em;
    display: inline-block;
	margin:0;
}
#project_text p {
	line-height:1.5em;
	width:350px;
	margin:14px 0;
}
#project_text a {
	color:#eee;
	text-decoration:underline;
}
/* Project Form
---------------------------------------*/
#projectForm {
	text-align:left;
	padding:40px 180px;	
}

#projectForm .great input, #projectForm .great textarea {
	border: none;
    background: #fff;
    display: block;
    padding: 11px;
    margin: 0 0 4px;
    color: #fff;
    border: none;
    width: 350px;
    font-size: 14px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    float: right;
}
#projectForm .great textarea {
	height:80px;
}
#projectForm input.btn {
}
#projectForm label {
	float:left;
	display:block;
	padding:8px;
	font-size:9px;
	text-transform:uppercase;
	
}
#projectForm p {
	clear:both;
	margin:0;
	width:auto;
}




/* show hide stuff
---------------------------------------*/
.data-edit {
	display:none;	
}



/* Project - Item Grid
------------------------*/
.item_thumb {
	position:relative;
	margin:6px;
	float:left;	
}
.item_thumb .cover {
	width:205px;
	height:170px;
	overflow:hidden;
	border-radius:8px;
	background:#ddd url(../portfolio/images/load-dots-dark.gif) no-repeat center;
}
.item_thumb .cover img {
	display:none;
}

/* Thumb Bar (tools)
------------------------------*/
.thumb_bar2 {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
}
.thumb_bar2 a {
	float:none;
	line-height:30px;
	height:30px;
	margin:4px 4px 4px 0;
	padding:0 12px;
	float:none;
	margin:3px 3px 0 0;
	width:20px;
	display:block;
}
.thumb_bar2 a.img_only {
	min-width:32px;
	padding:0;
	text-align:center;
}
.thumb_bar2 h2 {
	color:#fff;
	font-size:13px;
	padding:0 10px;
	margin:4px;
	line-height:30px;
	height:30px;
	background:#000;
	border-radius:4px;
	background:rgba(0,0,0,.7);
}

/* Thumb Bar (tools)
------------------------------*/
.thumb_bar {
	position:absolute;
	width:100%;
	bottom:0;
}
.thumb_bar a {
	float:right;
	line-height:30px;
	height:30px;
	margin:4px 4px 4px 0;
	padding:0 12px;
}
.thumb_bar a.img_only {
	min-width:32px;
	padding:0;
	text-align:center;
}
.thumb_bar h2 {
	color:#fff;
	font-size:13px;
	padding:0 10px;
	margin:4px;
	line-height:30px;
	height:30px;
	background:#000;
	border-radius:4px;
	background:rgba(0,0,0,.7);
	float:left;
}

/* Single Display
------------------------------*/
.single-container {
	max-width:1300px;
	margin:0 auto;
}
#editor {
	overflow:auto;
	width:1010px;
	margin:30px auto;
}

.single {
	margin-left:30px;
	
}
.display {
	width:100%;
	max-height:800px;
}

/* Single form
------------------------------*/
#single-data {
	padding:40px;
	width:420px;
	margin:0 auto;
}
#single-data label {
	font-size:11px;
	padding:3px 0 0;	
}

#single-data input,
#single-data textarea {
	
	font-size:13px;
	line-height:1.5em;
	
}

.video_type {
	padding:5px 0;	
}
.videoTips p {
	color:#aaa;
	padding:2px;	
	font-size:10px;
	float:right;
}
.videoTips p strong {
	border:1px solid rgb(114, 203, 255);
	background:#e1f4ff;
	border-radius:2px;
	margin:2px;
	color:#7bc2ff;
	padding:2px;
	display:inline-block;
	font-weight:normal;	
}

/* Single Display
------------------------------
.single {
	margin:30px 0;
	float:left;
	width:100%;
}
.display {
	text-align:center;
	overflow:hidden;
	border-radius:3px;
	background:#ddd;
	float:left;
	float:left;
	min-height:300px;
}
.captions {
	padding:10px 0 0;
	clear:both;
	text-align:center;
}
.captions h2 {
	margin-bottom:6px;	
	font-weight:200;
}
.captions input, .captions textarea  {
	width:550px;
	padding:0 8px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #eee;
	border-radius:4px;
	margin:2px 0 8px;
}
.captions textarea {	
	height:120px;
	line-height:2em;	
	height:55px;
	font-size:13px;
	padding:20px;
	width:524px;
}
.captions .btn {
	margin-top:20px;
	width:auto;	
}
#single-data {
	width:200px;
	float:left;
	text-align:left;
}*/
a.arrow {
	display:block;
	padding:30px 30px;
	margin-top:200px;
	position:absolute;
}
a.arrow.left {
  left: 50%;
  margin-left: -460px;
}
a.arrow.right {
  left: 50%;
  margin-left: 340px;
}
a.arrow  span {
	display:block;
	width:38px;
	height:48px;
	margin:0 10px;
	background:url(../images/banner-arrows.png);
}
a.arrow.next {
	float:right;
}
a.arrow.next span {
	background-position:-38px 0;	
}
a.arrow.prev:hover span {background-position:0 -48px;}
a.arrow.next:hover span {background-position:-38px -48px;}


/* Lightboxes
------------------------------*/
#overlay {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.6);
	z-index:999;
}
.lightbox {
	position:fixed;
	background:#f7f7f7;
	left:50%;
	top:50%;
	padding:20px;
	border-radius:4px;
	box-shadow:0 20px 150px rgba(0,0,0,.5);
	overflow:hidden;
	z-index:1000;
}
.lightbox.small {
	width:460px;
	margin-left:-230px;
	margin-top:-150px;	
}
/* ERROR */
#error {
	width:600px;
	margin:-40px 0 0 -300px;
	font-size:16px;
	text-align:center;	
}
#error p {
	margin:.5em 0;	
}
/* UPLOADER */
#upload{
	width:700px;
	min-height:200px;
	margin:-120px 0 0 -370px;
}
#tips{
	width:500px;
	min-height:200px;
	margin:-200px 0 0 -250px;
	text-align:center;
  font-size:11px;
}
#tips hr {
    border-color:#eee;
}
#upload-items {
	width:700px;
	overflow:auto;
	margin:-80px 0 0 -370px;
}
#upload-items h3 {
	font-size:60px;	
	margin:0 0 10px;
}
#upload-items .message {
	text-align:center;
	line-height:1.5em;
	margin-bottom:10px;
}
/* CHANGE COVER */
#change-cover {
	width:700px;
	margin:0 0 100px -370px;
	position:fixed;
	top:100px;
}
/* CONFIRM */
.confirm {
	width:300px;
	margin:-50px 0 0 -180px;
	text-align:center;
	font-size:14px;
	line-height:1.8em;
}
/* NEW PROJECT */
#new-project {
	width:300px;
	margin:-180px 0 0 -180px;
	text-align:center;
}
/* Private Project */
#privacy {
	width:300px;
	margin:-180px 0 0 -180px;
	text-align:center;
}
/* ADD VIDEO */
#add-video {
	width:300px;
	margin:-180px 0 0 -180px;
	text-align:center;
}
/* ITEM LIMIT */
#limit-items {
	width:300px;
	margin:-180px 0 0 -180px;
	text-align:center;
}
/* Project LIMIT */
#project-limit {
	width:320px;
	margin:-235px 0 0 -180px;
	text-align:center;
	line-height:2em;
}
/* ITEM LIMIT */
#item-limit {
	width:320px;
	margin:-235px 0 0 -180px;
	text-align:center;
	line-height:2em;
}
a.upgrade-thumb {
	background:url(../images/upgrade-thumbs_v2.jpg);
	background-size:100%;
	display:inline-block;	
	height:274px;
	width:315px;
	border-radius:6px;
	margin:0 0 20px;
	border:1px solid #eee;
}
a.upgrade-thumb.max {
	background:url(../images/upgrade-thumbs-max_v2.jpg);
}
a.upgrade-thumb.level-1 {
	background-position:-320px 0;
}
a.upgrade-thumb:hover {
	opacity:.8;	
}
#item-limit h3,
#project-limit h3 {
	font-size:20px;
	font-weight:200;
	margin-bottom:.7em;
}
#item-limit p, #project-limit p {
	font-size:11px;
	color:#aaa;
	line-height:1.4em;
	margin-top:.7em;
	padding:0 0 14px;
}
span.sep {
	margin:0 10px;
	color:#ccc;
}
/* PURCHASE UPGRADE */
#upgrade {
	width:420px;
	margin:-210px 0 0 -220px;
	line-height:2em;
}
#upgrade .payment-cc {
	margin:10px 0;
	padding:10px 16px;
	background:#f0f0f0;
	border:1px solid #e8e8e8;
	border-radius:4px;
}
#upgrade label {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;	
}
#upgrade input.short {
	width:50px;
}
#upgrade .row {
	margin:5px 0;	
}
#upgrade .row.left {
	margin-right:20px;	
}
#upgrade h2 {
	font-size:22px;	
	font-weight:400;
}
#upgrade .cc_type {
	background:url(../images/cc-sprite.png);
	height:36px;
	width:56px;
	display:block;
	text-indent:-9999em;
	overflow:hidden;
	float:left;
	margin-right:2px;
}
#upgrade .cc_type.visa {background-position:0 0}
#upgrade .cc_type.amex {background-position:-56px 0}
#upgrade .cc_type.mastercard {background-position:-112px  0}
#upgrade .cc_type.discover {background-position:-168px  0}
#upgrade .cc_type.visa.disabled {background-position:0 -72px}
#upgrade .cc_type.amex.disabled {background-position:-56px -72px}
#upgrade .cc_type.mastercard.disabled {background-position:-112px -72px}
#upgrade .cc_type.discover.disabled {background-position:-168px -72px}

#upgrade ul.expiration {
	margin:0;
	height:34px;
}
#upgrade ul.expiration li {
	float:left;
	list-style:none;
	width:120px;
	height:28px;
	margin-right:10px;
}
#upgrade ul.expiration li span {
	position:absolute;
	font-size:10px;
	display:block;
	background:#fff;
	line-height:26px;
	border-radius:4px;
	text-indent:4px;
	padding:0;
	border:1px solid #ddd;
	-webkit-box-shadow:inset 0 0 5px rgba(0, 0, 0, .05);
	-moz-box-shadow:inset 0 0 5px rgba(0,0,0,.05);
	background:#fff url(../images/select-arrows.png) no-repeat top right;
}
#upgrade ul.expiration li span.month {
	width:120px;	
}
#upgrade ul.expiration li span.year {
	width:58px;	
}
#upgrade select {
	position:absolute;
	z-index:10;
	line-height:26px;
	opacity:0;
	filter:alpha(opacity=0);
	display:block;
	height:28px;
	background:#888;
	width:122px;
	cursor:pointer;
}
#upgrade select.year {
	width:60px;	
}
#upgrade p.summary {
	line-height:1.4em;
	font-size:11px;
	color:#888;
	margin:10px 0 0;
}
#upgrade a.cancel {
	font-size:11px;
}
/* Other Views */
#upgrade #payment-processing-view {
	text-align:center;	
}
#upgrade #payment-result-view {
	text-align:center;	
	line-height:1.4em;
}
#upgrade #payment-result-view h2 {
	margin:0 0 10px;
}
#upgrade #payment-result-view p {
	margin:0 0 20px;
	padding:0 30px;
}
/* DOWNGRADE */
#downgrade {
	width:480px;
	margin:-160px 0 0 -240px;
	line-height:1.5em;
	text-align:center;
}
#downgrade ul {
	margin:10px 0;
}
#downgrade p {
	margin:10px 0;
}
#downgrade li {
	list-style:none;
}




/* Upload Items 
------------------------------*/
.bar {
    height:8px;
    background:url(../images/btn2.jpg);
	border-radius:4px;
}

/* New Project Form
------------------------------*/
#new-project input.input, #new-project textarea.input {
	float:none;
	padding:0 8px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #eee;
	border-radius:4px;
	margin:2px 0 8px;
	width:230px;
}
#new-project textarea.input {
	height:70px;	
	line-height:2em;	
	height:100px;
	font-size:13px;
}
#new-project input.red-flag {
	border:1px solid #DF8C96;	
}
#new-project .btn {
	margin:20px 0 5px;	
}
#new-project label {
	text-align:left;
	display:block;
	padding:4px 30px;	
}
#new-project input[type="file"] {
	border:none;
	background:none;
	border-radius:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
#new-project .row.radios {
	height:40px;
	padding:0px 30px;	
}
#new-project .row.radios input {
	width:20px;
	height:18px;
	float:left;
}
#new-project .row.radios span {
	float:left;
	display:inline-block;
	padding:2px 14px 0 0;
}
/* Project Password Form
------------------------------*/
.smallform input.input, .smallform textarea.input {
	float:none;
	padding:0 8px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #eee;
	border-radius:4px;
	margin:2px 0 8px;
	width:230px;
}
.smallform textarea.input {
	height:70px;	
	line-height:2em;	
	height:100px;
	font-size:13px;
}
.smallform input.red-flag {
	border:1px solid #DF8C96;	
}
.smallform .btn {
	margin:20px 0 5px;	
}
.smallform label {
	text-align:left;
	display:block;
	padding:4px 30px;	
}
.smallform input[type="file"] {
	border:none;
	background:none;
	border-radius:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
.smallform .row.radios {
	height:40px;
	padding:0px 30px;	
}
.smallform .row.radios input {
	width:20px;
	height:18px;
	float:left;
}
.smallform .row.radios span {
	float:left;
	display:inline-block;
	padding:2px 14px 0 0;
}








/* Styles
-----------------------------*/
.option {
	padding:0;
	margin:56px auto;
	width:700px;	
	overflow:auto;
	clear:both;
	border-radius:4px;
}
.option h2.option-title {
	font-size:16px;
	text-align:center;
	color:#333;	
	margin:0 0 40px;
	text-transform:uppercase;
	letter-spacing:2px;
	border-bottom:1px solid #e5e5e5;
	padding:20px 0;
	font-weight:600;
}
.option-header p {
	margin:0;	
}



/* Templates2
-------------------------*/
#rotator {
	position:relative;
	height:600px;
	width:100%;
	margin:90px 0;
}
#rotator .slide {
	height:600px;
	width:100%;
	position:absolute;
	-webkit-transition: all .6s cubic-bezier(0,.96,.76,.99);
	left:100%;
}
#rotator .slide.move-left {
	left:-100%;
}
#rotator .slide.move-in {
	left:0;
}
#rotator .arrow {
	position:absolute;
	display:block;
	padding:30px 30px;
	left:2%;
	top:50%;
	margin-top:-140px;
	z-index:999;
}
#rotator .arrow.next {
	left:auto;
	right:2%;
}
#rotator .arrow span {
	display:block;
	width:38px;
	height:48px;
	margin:0 10px;
	background:url(../images/banner-arrows.png);
}
#rotator .arrow.next span {
	background-position:-38px 0;	
}
#rotator .arrow.prev:hover span {background-position:0 -48px;}
#rotator .arrow.next:hover span {background-position:-38px -48px;}


.imac-banner {
	height:700px;
	width:661px;
	background:url(../images/imac.png) no-repeat left center;
	margin:0 auto;
	position:relative;
}
.imac-banner .window {
	position:absolute;
	margin:27px 0 0 33px;
	min-height:338px;
	background:#fff;
}

#rotator .new {
	position:absolute;
	margin:-18px 0 0 -18px;	
}

#rotator .info {	
	padding-left:20px;
	line-height:1.6em;
}
#rotator .info h2 {
	font-size:50px;
	margin:0 0 20px;	
}


.switch {
	margin:0 0 20px;
	cursor:pointer;
	width:125px;
}

/* Styles - Templates
-------------------------*/
#templates {
	margin:0 auto;
	width:900px;
}
.template {
	margin:0;
	padding:20px 0 20px;
	position:relative;
	float:left;
	width:960px;
}
.template img.thumb {
	margin:0;
	border-radius:4px;
	float:left;
}
.template .info {
	margin:20px 0 0 80px;
	width:240px;
	float:left;
}
.template .check {
	position:absolute;
	margin:0;
	right: 290px;
	top: 47px;
	cursor:pointer;
}
.template h2 {
	cursor:pointer;
	font-size:36px;	
	padding-right:14px;
}
.template .btn {
	margin:10px 0;
	padding:0 20px;
	line-height:2em;
	height:2em;
}
.template p {
	font-size:12px;
	margin:10px 0;
	line-height:1.5em;
	color:#666;	
}
.template img.new {
	position:absolute;
	margin:-24px 0 0 0;
}
.template.disabled .thumb, .template.disabled .check{
	opacity: 0.4;
}
.template.disabled {
	cursor: default;
}

/* Switch
-------------------------*/
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
/* Styles - Templates
-------------------------
#templates {
	margin:0 auto;
	width:960px;
}
.template {
	cursor:pointer;
	margin:20px 0;
	padding:20px 0 50px;
	border-bottom:1px solid #ddd;
	position:relative;
	float:left;
}
.template img.thumb {
	margin:0;
	border-radius:4px;
	float:left;
}
.template .info {
	margin:20px 0 0 40px;
	width:320px;
	float:left;
}
.template .check {
	position:absolute;
	margin:8px;
}
.template h2 {
	font-size:36px;	
	padding-right:14px;
}
.template .btn {
	margin:10px 0;
	padding:0 20px;
	line-height:2em;
	height:2em;
}
.template p {
	font-size:12px;
	margin:10px 0;
	line-height:1.5em;
	color:#666;	
}
.template img.new {
	position:absolute;
	margin:-24px 0 0 0;
}*/


/* New Templates
-----------------------------*/

.template-container {
	width:1062px;
	margin:0px auto 200px;
}	
.artist {
	position:relative;
	height:440px;
	width:530px;
	margin:0 1px 1px 0;
	border-radius:2px;
	padding:40px 0;
	float:left;
}
@media (max-width:1062px){
	.template-container {
		width:880px;
	}	
	.artist {
		width:100%;
		height:300px;
	}	
}
.artist.flip {
	
}
.artist.active {
	background:#fff;	
}
.artist .iphone7 {
	background:url(../img/iphone7.png);
	background-size:100%;
	height:210px;
	width:123px;
	position:absolute;
	margin:80px 0 0 400px;
}
.artist .macbook {
	background:url(../img/macbook.png);	
	background-size:100%;
	height:306px;
	width:507px;
	position:absolute;
	margin:20px 0 0 0;
}
.artist .macbook .stage {
	width:337px;
	margin:11px 0 0 83px;
	height:224px;
	overflow:hidden;
}
.artist .iphone7 .stage {
	width: 80px;
    margin: 19px 0 0 20px;
	height:152px;
	overflow:hidden;
}
.artist .macbook img.display {
	width:337px;
}
.artist .iphone7 img.display {
	width: 80px;
}

.artist  h2 {	
	font-size:26px;
	margin:0 0 10px;
	letter-spacing:1px;
}
.artist p {	
	font-size:11px;
	line-height:1.4em;
	color:#aaa;
	width:90%;
}

.artist .text {
	position:absolute;
	margin:300px 0 0;
	padding:0;
	width:70%;
	margin-left:68px;
}
@media (max-width:1062px){
	.artist .text {
		margin:60px 0 0 540px;
		width:300px;
	}	
}
.artist .text .btns {
	padding:0;
	margin:16px 0;
}
.artist .btns ul, .artist .btns li {
	list-style:none;
	margin:0;
	padding:0;
	display:inline-block;
}
.artist .btns a {
	background:#eee;
	display:inline-block;
	padding:1em;
	font-size:12px;
	min-width:120px;
	color:#888;
	margin:0 0 2px;
	text-align:center;
	-webkit-transition: padding 200ms;
    -moz-transition: padding 200ms;
    -o-transition: padding 200ms;
	border-radius:2px;
	font-weight:700;
}
.artist .btns a.gray {
	background: #27abff;
	color: #fff;
}
.artist .btns a.gray.cur {
	background:#aaa;
}
.artist .btns a:hover {
	
}
.circle-check {
	background: rgba(255, 255, 255, 0);
	border-radius: 100px;
	height: 140px;
	line-height: 140px;
	width: 140px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	border:24px solid rgba(39, 171, 255, 0);
	margin: 0px 0 0 24px;
	position: absolute;
	right:36px;
	top:0;
	opacity:0;
	webkit-transition: opacity .1s linear, border .35s linear, background .2s linear, margin-top .5s cubic-bezier(.175, .885, .32, 1.275);
  -moz-transition: opacity .1s linear, border .35s linear, background .2s linear, margin-top .5s cubic-bezier(.175, .885, .32, 1.275);
  -o-transition: opacity .1s linear, border .35s linear, background .2s linear, margin-top .5s cubic-bezier(.175, .885, .32, 1.275);
  transition: opacity .1s linear, border .35s linear, background .2s linear, margin-top .5s cubic-bezier(.175, .885, .32, 1.275);
}
.circle-check.cur {
	opacity:1;
	margin-top:-34px;
	background-color: rgba(255, 255, 255, 0.88);
	border-color:rgba(39, 171, 255, 0.64);
	/*
	webkit-transition: opacity .3s cubic-bezier(.175, .885, .32, 1.275);
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
	*/
}

/* Styles - Layouts
-------------------------*/
.font-display {
	margin:0 0 180px;
	padding:0;
}
.font-display li {
	list-style:none;
	width:33.3333%;
	float:left;
}
.font-display li a {
	background:#fff;
	display:block;
	margin:0;
	padding:0;
	font-size:22px;
	line-height:240px;
	height:240px;
	text-align:center;
	color:#333;
	
			line-height: 150px;
			height: 150px;
			margin: 1px;
}
.font-display li.cur a {
	background:#27abff;
	color:#fff;
}
.font_option .check {
	position:absolute;
}



/* Styles - Layouts
-------------------------*/
.layout-preview {
	margin:5px;
	text-align:center;
	width:332px;
	float:left;
	position:relative;
	cursor:pointer;
	background:#fff;
	padding:4px;
}



/* Styles - Color Scheme
-------------------------*/
.color-selection {
	font-family:"Open Sans";
	background:#fff;
	margin:5px;
	width:338px;
	color:#222;
	float:left;
	cursor:pointer;
	border-radius:4px;
	border:1px solid #ddd;
}
.color-selection .inner {
	height:240px;
	border-radius:4px;
	padding:4px;	
}
.color-selection h2 {
	font-size:18px;
	text-transform:capitalize;
	padding:8px;
	padding:4px 0;
	float:left;
}
.color-selection p {
	padding:4px 8px;
	font-size:13px;
	display:inline-block;
	width:50%;
	margin:0 3px;
	text-transform:capitalize;
}

/* Styles - Font
-------------------------*/
.font_preview {
	margin:5px;
	cursor:pointer;
	width:340px;
	float:left;
	position:relative;
}
.font_preview h3 {
	font-size:26px;	
	line-height:80px;
	height:80px;
	text-align:center;
	border:1px solid #ddd;
	border-radius:4px;
	background:#fff;
}
.font_preview .check {
	margin:11px 4px;
	position:absolute;
}

.disclaimer {
	font-size:11px;
	padding:20px 0 0;
	text-align:center;	
	color:#aaa;
}





/* Browse Page
-----------------------------*/
#page {
	padding:20px 0;
	overflow:auto;
}
#page-head {
	height:100px;	
}
#page-head  h2 {
	font-size:40px;
	font-weight:200;
	margin:20px 0;	
	float:left;
}
.pagination {
	margin:0 0 10px 12px;
	border-top:1px solid #ccc;
	padding-top:10px;
}
.pagination .btn {
	font-size:12px;
	padding:5px 10px;
	line-height:18px;	
}
#sidebar {
	float:left;
	width:198px;
	background:#f0f0f0;
	border:1px solid #ddd;
	border-radius:4px;
	border-width:0 1px;
}
#sidebar h3 {
	font-size:10px;
	text-transform:uppercase;
	border-bottom:1px solid #dfdfdf;
	letter-spacing:1px;
	color:#888;
	padding:8px;	
}
#sidebar ul {
	padding:0;
	overflow:auto;
	margin:0;
}
#sidebar li {
	list-style:none;
}
#sidebar a {
	display:block;
	padding:5px 4px 5px 9px;
	font-size:12px;
	color:#555;
	border-top:1px solid #f9f9f9;
	border-bottom:1px solid #dfdfdf;
}
#sidebar a span {
	font-size:9px;
	display:inline-block;
	background:#e8e8e8;
	color:#bbb;
	padding:2px 4px 0;
	border-radius:10px;
	text-align:center;
	float:right;
	min-width:26px;
}
#sidebar a:hover {
	background:#eee;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #dfdfdf;
	color:#000;
}
#sidebar a:hover span {
	color:#888;
}
#sidebar a.cur {
	background:#eee;
	border-top:1px solid #eaeaea;
	border-bottom:1px solid #dfdfdf;
	font-weight:bold;
}
#sidebar a.cur span {
	background:#ccc;
	color:#fff;
}
#main {
	float:right;
	width:720px;
}
#main ul {
	margin:0;
	padding:0;
}
#main li {
	list-style:none;
	width:348px;
	margin:0 0 10px 12px;
	float:left;
	height:152px;
	overflow:hidden;
}
#main li a {
	display:block;
	background-color:rgba(0,0,0,.1);
	background-position:center;
	border-radius:4px;
	height:150px;
	overflow:hidden;
}
#main li a:hover {
	opacity:.9;	
}
#main li a span {
	display:inline-block;
	padding:4px;
	background:rgba(0,0,0,.5);
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:4px 0 4px 0;
}


/* Favorites
-----------------------------*/


/* Browse Page - Nav
-----------------------------*/
#browse_nav h1 {
	margin:0 0 20px;	
	font-size:18px;
	line-height:1.4em;
}
#browse_nav {
	margin:0;
	float:left;
	width:16%;
	padding:40px 2% 0;
}
#browse_nav ul {
	margin:0 0 20px;
	padding:0;
}
#browse_nav li {
	margin:0 0 2px;
	list-style:none;
}
#browse_nav li a {
    background:#fff;
    background:rgba(300,300,300,.6);
	display:block;
	padding:6px 6px 5px 8px;
	font-weight:normal;
	color:#333;
	font-size:12px;
	white-space:nowrap;
	border-radius:3px;
        padding:5px 5px 4px 5px;
        display:inline-block;
        font-size:9px;
        background:none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color:#454545;
}

#browse_nav li a:hover {
	background:#fff;
}

#browse_nav li a.cur {
	background:#39F;
	background:url(../images/promobtn.png) 0 -19px;
	color:#fff;
	font-weight:bold;
        color:#888;
	   background:#fff;
        font-weight:normal;
}
#browse_nav p {
	line-height:1.6em;
	font-size:11px;
	color:#666;
	margin:10px 0;
}


/* Browse Page - Grid
-----------------------------*/
.gallery {
	
	overflow:hidden;
	
}
.gallery .headline {
	height:60vw;
    text-align: center;
    font-size: 22px;
    color: #fff;
    position: absolute;
    z-index: 9;
    width: 100%;
    text-shadow: 0px 5px 20px rgba(0,0,0,.7);
	background:rgba(0,0,0,.44);
	
		height: 60vw;
}
.gallery .headline h1 {
	padding-top:20vw;
	font-size:70px;
}
.home_thumb {
	width:25%;
	height:250px;
	margin:0;
	overflow:hidden;
	float:left;
	position:relative;
	display:block;
	background:#222 url(../portfolio/images/load-dots.gif) no-repeat center;
	
	
	
		width: 25vw;
		width: 25%;
		height: 20vw;
}

/* Browse Page - Grid
-----------------------------*/
#browse_grid {
	float:right;
	width:74%;
	border-radius:0px;
	overflow:hidden;
	margin:0 0% 0 0;
}
.browse_thumb {
	width:25%;
	height:250px;
	margin:0;
	overflow:hidden;
	float:left;
	position:relative;
	display:block;
	background:#fff url(../portfolio/images/load-dots-dark.gif) no-repeat center;
	background:#fff;
}
@media (max-width: 1200px) {
	.browse_thumb {
		width:50%;	
	}
}
.browse_thumb:hover {
	opacity:.94;
}
.browse_head {
	background:rgba(0,0,0,.5);
	background: rgba(13, 166, 255, 0.35);
	color:#fff;
	font-size:16px;
	padding:3%;
	line-height:1.5em;
	font-family:'Open Sans', sans-serif;
}
.browse_head h2 {
	margin:0 0 .5em;	
}
.browse_head a {
	background:rgba(0,0,0,.2);
	color:#fff;
	font-size:16px;
	padding:10px 22px;
	font-family:'Open Sans', sans-serif;
	margin:20px 0 0;
	display:inline-block;
}
.browse_thumb .canvas,
.browse_thumb .canvasFit {
	position:absolute;
	display:none;
}
.browse_thumb .thumb_overlay {
	position:absolute;
	height:250px;
	width:100%;
	box-shadow:inset 0 -20px 80px rgba(0,0,0,.2);
	display:none;
}
.browse_thumb .info {
	font-family:'Open Sans', sans-serif;
	display:inline-block;
	bottom:0;
	position:absolute;
	color:#fff;
	z-index:1;
	background: rgba(0,0,0,.4);
}
.browse_thumb .info .inner {
	padding:10px 14px 10px 10px;
	height:30px;	
}
.browse_thumb .info strong {
	font-size:12px;
	text-transform:capitalize;
	font-weight:600;
	float:left;
}
.browse_thumb .info p.location {
	margin:5px 0;
	font-size:10px;
	color:#ccc;
	float:left;
	clear:left;
}
.browse_thumb .info p.about {
	height:1px;
	position:absolute;
	overflow:hidden;
	float:left;
}

/* Browse Page - Pagination
-----------------------------*/
#browse_pagination_wrapper {		
	float:right;
	width:74%;
	margin-right:4%;
}
#browse_pagination {
	font-size:30px;
	padding:10px 14px;
	border-radius:80px;
	background:rgba(300,300,300,.2);
	width:180px;
	margin:20px auto 100px;
	overflow:auto;
}
#browse_pagination a {
	display:block;
	background:url(../images/banner-arrows.png) 0 -48px;
	height:48px;
	width:38px;
	
}
#browse_pagination a.right {
	background-position:-38px -48px;	
}
#browse_pagination a.left:hover {background-position:0 0;}
#browse_pagination a.right:hover {background-position:-38px 0;}



/* Preview Page
-----------------------------*/
#devices {
	background:#fff;
	padding: 20px 0px;
	width: 1100px;
	max-width:100%;
	margin: 80px auto;
	border-radius: 8px;
}
#devices .titlebox {
	font-size:20px;
	float:right;
	text-align:right;
	margin:20px;
	width:300px;
}
#devices .titlebox 1 {
	margin:20px 0;
}
#devices .titlebox p {
	margin:10px 0;
}

/* Devices */
.device {
	width:500px;
	height:500px;
	float:left;
}
#ipad-mini.device {
	height:934px;
	width:592px;
	margin-left:100px;
	background:url(../images/devices/ipad-mini.jpg);
}
#iphone.device {
	height:581px;
	width:309px;
	margin-top:274px;
	background:url(../images/devices/iphone.jpg);
}
#macbook-air.device {
	height:729px;
	width:1200px;
	background:url(../images/devices/macbook-air.jpg);
		display:none;
}

@media (max-width: 1060px) {
	#iphone.device,
	#ipad-mini.device {
		margin:0px auto;
		float:none;
	}
}

/* iFrame */
.device iframe {
	position:absolute;
}
#ipad-mini iframe {
	width:493px;
	height:660px;
	margin:98px 0 0 50px;
}
#iphone iframe {
	width:221px;
	height:392px;
	margin:94px 0 0 46px;
}
#macbook-air iframe {
	width:892px;
	height:558px;
	margin:54px 0 0 152px;
}



/* About Page
-------------------------*/
#about_page {
	line-height:1.5em;	
	width:600px;
	margin:auto;
	padding:40px 0;
}
#about_page h1,
#about_page h2,
#about_page h3 {
	margin:1.5em 0 .5em;	
}
#about_page h1 {
	margin-top:0;	
}
#about_page p {
	margin:0 0 1.8em 0;	
}


/* Upgrade Page
-------------------------*/
#upgrade-content {
	float:left;
	width:360px;	
	margin:100px 0 18px;
	position:fixed;
}
#upgrade-content h2 {
	font-size:46px;
	color:#aaa;
	
}
#upgrade-content h3 {
	padding:10px 5px;
	color:rgba(255,255,255,.9);	
}
#upgrade-content p {
	margin:.8em 0 1.7em;
	line-height:1.7em;	
	font-size:12px;
	color:#eee;
}
.upgrade-col {
	float:right;
	width:220px;
	background:#fff;
	border-radius:4px;	
	text-align:center;
	padding:10px;
	margin:40px 0 40px 16px;
	border:1px solid #ddd;
	-moz-box-shadow:inset 0 0 14px rgba(0,0,0,.05);
	-webkit-box-shadow:inset 0 0 14px rgba(0,0,0,.05);
	box-shadow:inner 0 0 14px rgba(0,0,0,.05);
}
.upgrade-col h2 {
	font-size:16px;	
	line-height:1.4em;
	letter-spacing:2px;
	margin:14px 0;
	text-transform:uppercase;
}
.upgrade-col h2 strong {
	font-weight:400;
	font-size:32px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.upgrade-col p {
	margin:16px;
	font-size:11px;
	line-height:1.4em;
	color:#555;	
	padding-top:14px;
	border-top:1px solid rgba(0,0,0,.1);
}
.upgrade-col ul {
	margin:10px 0 20px;
}
.upgrade-col li {
	list-style:none;
	font-family:'Open Sans', sans-serif;	
	font-size:16px;
	font-weight:300;	
	line-height:1.6em;
}
.upgrade-col .btn {
	font-family:'Open Sans', sans-serif;	
	font-weight:300;
	font-size:18px;
	line-height:32px;
	padding:0 20px;
}
.upgrade-col .btn strong {
	font-family:Georgia, "Times New Roman", Times, serif;	
}





/* Sign Up with Packages
------------------------------*/
.bg-image {
	background:url(../img/photos/create-a-portfolio-jeff-sheldon.jpg) center fixed;
	background-size:auto 110%;	
	width:100%;
}
.bg-image .center-title-block {
	color:#fff;
	text-shadow:0 2px 5px rgba(0,0,0,.25);
}
.bg-image .center-title-block h3 {
	color:#e8e8e8;
}
#packages {
	border-radius:4px;
	margin:0 auto 150px;
	width:722px;
	overflow:auto;
	color:#fff;
	text-shadow:1px 1px 2px rgba(0,0,0,.5);
}
.package {
	float:left;	
	width:240px;
	text-align:center;
	padding:0 0 34px;
}
.package.pro {
	border:1px solid rgba(255,255,255,.4);
	border-width:0 1px;	
}
.package.free {
	border-radius:4px 0 0 4px;
}
.package.max {
	border-radius:0 4px 4px 0;
}
.package h2 {
	font-family:'Open Sans', sans-serif;	
	font-size:46px;
	margin:30px 0 18px;
	text-shadow:0 2px 5px rgba(0,0,0,.25);
}
.package ul {
	margin:12px 0;
	padding:0;
}
.package li {
	font-family:'Open Sans', sans-serif;	
	list-style:none;
	font-size:17px;
	color:#fdfdfd;
	line-height:1.7em;
}
.package p {
	padding:0 20px;
	line-height:1.7em;
	font-size:12px;	
	margin:20px 0;
	color:#aaa;
}
.package .btn {
	margin:16px 0;
	font-size:14px;	
	line-height:30px;
  background: none;
  font-size: 18px;
  border: 1px solid rgba(255,255,255,.5)!important;
  background:rgba(255,255,255,.1)!important;	
  padding: 8px 20px;
}
.package .btn:hover {
  background:rgba(255,255,255,.2)!important;	
  border: 1px solid rgba(255,255,255,.7)!important;
  opacity:1;
}


/* Signup Form
------------------------------*/
#signup-form {
	width:420px;
	margin:0 auto 150px;
	text-align:center;
	padding:30px 50px 30px;
	border-radius:4px;
	background:#eee;
}
.bg-image #signup-form {
	background:rgba(0,0,0,.2);	
}
#signup-form label {
	font-size:10px;
	padding:14px 0 0;	
	color:#eee;
	text-align:left;
  font-size: 11px;
  padding: 14px 0 2px;
}
#signup-form input {
	margin:2px 0 1px;
}
#signup-form input.short {
	float:left;
	width:178px;	
}
#signup-form input.short.last {
	margin-left:2px;	
}
#signup-form input.alert {
	background:#FFF9F9;
	border:1px solid #FFB5B5;
}
#signup-form .error {
	line-height:1.4em;
	font-size:13px;
	color:#BE4A4A;
	padding:3px 2px 0;
	text-align:right;
	display:none;
}
#signup-form .error.show {
	display:inline-block;
}
#signup-form .cancel {
	font-size:11px;
	color:#E8E4D7;
}

/* Checkout 
------------------------------*/
#checkout {
	width:460px;
	margin:0 auto 120px;
	text-align:left;	
	background:rgba(300,300,300,.25);
	padding:40px;
	border-radius:4px;
	background:rgba(0,0,0,.2);	
}
#checkout.update {
	background:none;
	border-radius:none;
	margin:0;
	width:auto;
	padding:0;	
}
#checkout label {
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	padding:0 0 4px;
	display:block;
	color:#fff;
	text-shadow:1px 1px 2px rgba(0,0,0,.7);
}
#checkout .row input {
	padding:0 14px;
	font-size:18px;
	line-height:44px;
	height:44px;
	font-family:'Open Sans', sans-serif;
	border:1px solid #ddd;
	border-radius:4px;
	margin:0;
}
#checkout .row {
	height:90px;	
}
#checkout .cc-num {
	float:left;
	width:320px;
	overflow:auto;
}
#checkout .cc-num input  {
	width:270px;
}
#checkout .ccv {
	float:left;
}
#checkout .ccv input {
	width:50px;
}
#checkout .cc-container {
	height:76px;
	float:left;
}
#checkout .expiration-container {
	float:right;
}
#checkout .cc_type {
	background:url(../images/cc-sprite.png);
	height:36px;
	width:56px;
	display:inline-block;
	text-indent:-9999em;
	overflow:hidden;
	margin:2px 0 0;
}
#checkout .cc_type.disabled {
	opacity:.5;
}
#checkout .cc_type.visa {background-position:0 0}
#checkout .cc_type.amex {background-position:-56px 0}
#checkout .cc_type.mastercard {background-position:-112px  0}
#checkout .cc_type.discover {background-position:-168px  0}
#checkout .cc_type.visa.disabled {background-position:0 -72px}
#checkout .cc_type.amex.disabled {background-position:-56px -72px}
#checkout .cc_type.mastercard.disabled {background-position:-112px -72px}
#checkout .cc_type.discover.disabled {background-position:-168px -72px}

#checkout ul.expiration {
	margin:0;
	height:34px;
}
#checkout ul.expiration li {
	float:left;
	list-style:none;
	width:110px;
	height:40px;
	margin-right:10px;
}
#checkout ul.expiration li.year {
	width:58px;
}
#checkout ul.expiration li span {
	position:absolute;
	font-size:12px;
	display:block;
	background:#fff;
	line-height:32px;
	border-radius:4px;
	text-indent:4px;
	padding:4px;
	background:#fff url(../images/select-arrows.png) no-repeat center right;
	border:1px solid #ddd;
}
#checkout ul.expiration li span.month {
	width:100px;
}
#checkout ul.expiration li span.year {
	width:58px;	
}
#checkout select {
	position:absolute;
	z-index:10;
	line-height:26px;
	opacity:0;
	filter:alpha(opacity=0);
	display:block;
	height:40px;
	background:#888;
	width:108px;
	cursor:pointer;
}
#checkout select.year {
	width:66px;	
}
#checkout .submit-area {
	overflow:auto;	
	padding:0px 0 0;
}
#checkout .submit-area input{	
	float:left;
}
#checkout p.summary {
	line-height:1.5em;
	font-size:12px;
	color:#fff;
	margin:0 0 0 20px;
	float:left;
	text-shadow:1px 1px 2px rgba(0,0,0,.3);
	padding:3px;
}
#checkout a.cancel {
	font-size:11px;
}
/* Other Views */
#checkout #payment-processing-view {
	text-align:center;	
	color:#fff;
}
#checkout #payment-result-view {
	text-align:center;	
	line-height:1.4em;
	color:#ddd;
}
#checkout #payment-result-view h2 {
	margin:0 0 10px;
	color:#fff;
}
#checkout #payment-result-view p {
	margin:0 0 20px;
	padding:0 30px;
}



/* Promo Page 
------------------------------*/
#promotion {
	font-size:22px;
	background:#fff;
	line-height:13em;	
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	padding:40px 0;
}
#promotion #banner {
	position:relative;	
}
#promotion #cta {
	position:absolute;
	top:280px;
	left:-5px;
}




/* Gradient */
.grad-a {
	background:#fafafa;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
	background-image:-webkit-linear-gradient(top, #fff, #eee); 
	background-image:-moz-linear-gradient(top, #fff, #eee);
	background-image:-ms-linear-gradient(top, #fff, #eee);
	background-image:-o-linear-gradient(top, #fff, #eee);
}
.grad-b {
  background:-webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0,0,0,0)), to(rgba(0,0,0,.1)));
  background:-webkit-radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,.1));
  background:-moz-radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,.1));
  background:-ms-radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,.1));
}


/* Jobs Page
-------------------------*/
#jobs ul, li {
    margin:0;
    padding:0;
    list-style:none;
}
#jobs ul {
    margin-top:30px;
}
#jobs li a {
    display:block;
    border-bottom:1px solid #ddd;
    padding:10px;
    font-size:14px;
    color:#888;
    background:rgba(255,255,255,.8);
}

/* Jobs Page
-------------------------*/
.classy input, .classy textarea {
	
}
.classy textarea {
    min-height:50px;
    width:300px;
    border:1px solid #ddd;
    border-radius:3px;
    margin:5px 0;
    width:500px;
}
.classy label {
    font-size:16px;
	font-family:'Open Sans', sans-serif;
}





/* AFfiliate pages
------------------------------*/ 
.affiliate-container {
	background:#222;
	padding:4% 0 3%;
	text-align:center;
	color:#bbb;
	width:400px;
	margin:10% auto;
}
.affiliate-container .inner {
	padding:10px 20px;	
}
.affiliate-container h3 {
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	line-height:2em;
}
.affiliate-container hr {
	border: 1px solid #444;
	border-bottom:none;	
	margin:20px 0 40px;
}
.affiliate-container .inputs input {
	width:250px;	
	font-size:14px;
	padding:.5em;
	line-height:1.3em;
	height:auto;
}
.affiliate-container .inputs label {
	text-align:left;
	display:none;
}
